#newTask textarea{
    resize: none;
    min-height: 100px;
}

#newTask form .ng-invalid-required.ng-dirty{
    border-color: red;
}

#newTask form .ng-valid-required.ng-dirty{
    border-color: green;
}

#newTask #friends{
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

#newTask #friends .friend{
    margin-bottom: 8px;
}

#newTask #friends .friend .friendImg{
    border-radius: 100px;
}

#newTask #friends .friend .friendName{
    color: black;
    margin-left: 5px;
    font-size: medium;
}

.friendLabel{
    padding: 5px 5px 5px 5px;
    margin-left: -15px;
    width: 110%;
    transition: background 1.0s ease; 
}

.friendLabel:hover{
    background: #45619D;
}

.friendSelected{
    background: #45619D;
}